@model IEnumerable<Switch_and_Shift.Models.REPORTS_ADMIN>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reporter_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reportee_email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reporter_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reportee_email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.report_admin_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.report_admin_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.report_admin_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
